.news_title {
    /* background: url(../../../Assets/icons/title-line-image-2.png);
    margin-top: " 1000px"; */
    background-position: center bottom;
    background-repeat: no-repeat;

}

/* .overlay {
    position: absolute;
    z-index: 1;
    opacity: 0;
    width: 100%;
    height: 100%;
    background: #337ab7;
    -webkit-transition: opacity 2s ease-out;
    -moz-transition: opacity 2s ease-out;
    -o-transition: opacity 2s ease-out;
    transition: opacity 2s ease-out;
}

.overlay:hover {
    opacity: 0.7;
} */